/.vs/EverythingHasEyes/v16/
/Config/
/Binaries/Win64/
/.idea/.idea.EverythingHasEyes/.idea/
/Intermediate/
/Plugins/Developer/RiderLink/
/Saved/
/EverythingHasEyes.sln
/EverythingHasEyes.uproject
/Content/Characters/
/Content/LevelPrototyping/
/Content/LightProfilePack/
/Content/Megascans/
/Content/MetaHumans/
/Content/MSPresets/
/Content/MyContent/
/Content/ThirdPerson/
/Content/ThirdPerson/Maps/
/Content/PN_interactiveSpruceForest/
/Content/WaterMaterials/
