/.vs/EverythingHasEyes/v16/
/Config/
/Binaries/Win64/
/.idea/.idea.EverythingHasEyes/.idea/
/Intermediate/
/Content/
/Plugins/Developer/RiderLink/
/Saved/
/EverythingHasEyes.sln
/EverythingHasEyes.uproject
